annotations_output/coco_json/*
annotations_output/voc_xml/*
annotations_output/yolo_txt/*
/input_images
input/*
output/*
/venv311
venv
credentials.json
token.pickle
ffmpeg.exe
glitch_image_000001_folder/*
glitch_image_1_folder/*
merged_output/*
reindexed_images/*
reindexed_labels/*
